@CHARSET "UTF-8";

::-moz-selection {
	background: #EB5959;
	color: white;
}
::selection {
	background: #EB5959;
	color:white;
}

div#header {
	background: #555555;
	width:auto;
	margin:0;
	height:256px;
	padding: 16px;
}

.margin-header {
	margin-bottom: 50px;
}

body {
	width:auto;
	margin:0;
	height:auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.t-center {
	text-align: center;
}

div#firstName {
	width: 720px;
	height: 210px;
	background-repeat: no-repeat;
	background-image: url(../images/prenom.png);
}

div#menu {
	width: 100%;
	height: 40px;
}

a.sub {
	text-decoration: none;
	background: #7BDCE9;
	display: block;
}

.commandes span {
	display: block;
	background-color: black;
	color: white;
	padding-left: 10px;
}

div.center div {
	vertical-align: top;
	display: inline-block;
}

.border
{
	border: 6px solid #B8CFDE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.white
{
	background-color: white;
}

.vertical-align
{
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-align > *
{
	display: table-cell;
	vertical-align: middle;
}
