.project h1 {
  position: relative;
  text-align: center;
}
.project h1 span {
  border: solid 1px;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 50%;
}
.project h1 .left {
  left: 33%;
}
.project h1 .right {
  left: 61%;
}
