<menu>
	<item type="main" name="Projet">
		<item type="sub" method="menu">Menu1</item>
		<item type="sub" method="menu">Menu2</item>
		<item type="sub" method="menu">Menu3</item>
		<item type="sub" method="menu">Menu4</item>
		<item type="sub" method="menu">Menu5</item>
		<item type="sub" method="menu">Menu6</item>
	</item>
	<item type="main" name="A Propos">
		<item type="sub" method="menu">Menu1</item>
		<item type="sub" method="menu">Menu2</item>
		<item type="sub" method="menu">Menu3</item>
		<item type="sub" method="menu">Menu4</item>
		<item type="sub" method="menu">Menu5</item>
		<item type="sub" method="menu">Menu6</item>
	</item>
</menu>